[Desktop Entry]
Encoding=UTF-8
Name=ESA Core
Comment=Connect to the Esa P2P Network
Comment[de]=Verbinde mit dem Esa peer-to-peer Netzwerk
Comment[fr]=Esa, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Esa, eşten eşe kriptografik sanal para birimi
Exec=esa-qt %u
Terminal=false
Type=Application
Icon=esa128
MimeType=x-scheme-handler/esa;
Categories=Office;Finance;
