policy_module(esa, 1.100.1)

########################################
#
# Declarations
#

type esa_t;
type esa_exec_t;
init_daemon_domain(esa_t, esa_exec_t)

permissive esa_t;

type esa_initrc_exec_t;
init_script_file(esa_initrc_exec_t)

type esa_conf_t;
files_type(esa_conf_t)

type esa_var_lib_t;
files_type(esa_var_lib_t)

type esa_var_run_t;
files_type(esa_var_run_t)

type esa_port_t;
corenet_port(esa_port_t)

########################################
#
# esa local policy
#
allow esa_t self:process { fork };

allow esa_t self:fifo_file rw_fifo_file_perms;
allow esa_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(esa_t, esa_conf_t, esa_conf_t)
manage_files_pattern(esa_t, esa_conf_t, esa_conf_t)

manage_dirs_pattern(esa_t, esa_var_lib_t, esa_var_lib_t)
manage_files_pattern(esa_t, esa_var_lib_t, esa_var_lib_t)
files_var_lib_filetrans(esa_t, esa_var_lib_t, { dir file })

manage_dirs_pattern(esa_t, esa_var_run_t, esa_var_run_t)
manage_files_pattern(esa_t, esa_var_run_t, esa_var_run_t)

sysnet_dns_name_resolve(esa_t)
corenet_all_recvfrom_unlabeled(esa_t)

allow esa_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(esa_t)
corenet_tcp_sendrecv_generic_node(esa_t)
corenet_tcp_sendrecv_all_ports(esa_t)
corenet_tcp_bind_generic_node(esa_t)

gen_require(`
    type esa_port_t;
')
allow esa_t esa_port_t:tcp_socket name_bind;

gen_require(`
    type esa_port_t;
')
allow esa_t esa_port_t:tcp_socket name_connect;

domain_use_interactive_fds(esa_t)

files_read_etc_files(esa_t)

miscfiles_read_localization(esa_t)

sysnet_dns_name_resolve(esa_t)

allow esa_t esa_exec_t:file execute_no_trans;
allow esa_t self:process setsched;
corecmd_exec_ls(esa_t)
corenet_tcp_connect_http_port(esa_t)
dev_read_urand(esa_t)
fs_getattr_xattr_fs(esa_t)
kernel_read_system_state(esa_t)
