[Unit]
Description=Esa's distributed currency daemon
After=network.target

[Service]
User=esa
Group=esa

Type=forking
PIDFile=/var/lib/esad/esad.pid
ExecStart=/usr/bin/esad -daemon -pid=/var/lib/esad/esad.pid \
-conf=/etc/esa/esa.conf -datadir=/var/lib/esad -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
